@charset "utf-8";

// レスポンシブル
$breakpoints: (
    "sm": "screen and (max-width: 600px)",
    "md": "screen and (max-width: 768px)",
    "lg": "screen and (max-width: 1024px)"
) !default;

@use "sass:map";
@mixin mq($breakpoint) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}

$border_color:#e5e5eb;
$blue:#2268bc;

html{
     font-size: 62.5%
}
body{
     font-size: 1.8rem;
     line-height: 1.6;
     color: #3e3e4f;
     font-family: 'Noto Serif JP', serif;
}

header{
     display: flex;
     // flex-wrap: wrap;
     // justify-content: center;
     // align-items: center;
     @include mq ("md"){
          display: block;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding: 1rem;
     }
     .info{
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mq ("md"){
               width: 100%;
          }
          .infoinner{
               h1{
                    width: 100%;
                    margin-bottom: 5rem;
                    font-size: 2.5rem;
                    text-align: center;
                    letter-spacing: .2em;
                    .houjin{
                    display: block;
                    text-align: center;
                    font-size: 1.5rem;
                    margin-top: 1.5rem;
                    }
                    @include mq ("sm"){
                         font-size: 2rem;
                    }
               }
               .logo{
                    margin: 0 auto 5rem auto;
                    width: 90%;
                    img{
                    max-width: 100%;
                    width: 45rem;
                    }
               }
               .access{
                    width:80%;
                    background-color: $border_color;
                    padding: 1.5rem;
                    margin: auto;
                    max-width: 100%;
                    p{
                         text-align: center;
                    }
                    p+p{
                         margin: 1.5rem auto;
                    }
               }
          }
     }
     .main{
          width: 60%;
          @include mq ("md"){
               margin:1rem auto;
          }
          img{
          vertical-align: top;
          width: 100%;
          }
     }  
}     
article{
     .medicalhours{
          background: linear-gradient(45deg, rgba(245, 253, 255, 1) 0%, rgba(223, 237, 241, 1) 100%);
          padding: 7rem auto;
          border-bottom: 4px solid $border_color;
          .minner{
               margin: 7rem auto;
               width: 100%;
               max-width: 100%;
               padding: 0 1rem;
               table{
                    background-color: #ffffff;
                    width: 100%;
                    max-width: 100%;
                    margin: auto;
                    caption{
                         font-size: 3.6rem;
                         letter-spacing: .2em;
                         text-align: center;
                         margin: 7rem auto ;
                    }
                    .hours{
                         width: 20rem;
                    }
                    th,td{
                         border: 1px solid $border_color;
                         padding: 10px;
                         text-align: center;
                    }
                    th{
                         width: 10rem;
                    }
                    td{
                         width: 10rem;
                    }
               }
               p{
                    padding-top: 1.5rem;
                    margin: 0%;
                    width: 100%;
                    box-sizing: border-box;
               }
          }
     }
     section{
          h3{
               font-size: 3rem;
               letter-spacing: .3rem;
               text-align: center;
               padding-bottom: 5rem;
          }
          p+p{
               margin-top: 1.5rem;
          }
          p{
               width: 100rem;
               max-width: 100%;
          }
     }
     .covid{
          width: 100%;
          max-width: 100%;
          margin: 7rem auto 4rem auto;
          @include mq ("md"){
               width: 90%;
          }
          h3{
               @include mq ("md"){
                    width: 90%;
               }
          }
     }
     .features{
          background-image: url(../images/bg_room.jpg);
          background-size: cover;
          background-position: right bottom;
          width: 100%;
          max-width: 100%;
          padding: 7rem 0;
          @include mq("md"){
               padding: 3rem 1rem;
          }               
          .finner{
               width: 100%;
               margin: 7rem auto;
               @include mq("md"){
                    width: 100%;
                    max-width: 100%;
                    margin: 0 auto;
                    display: block;
                    align-items: center;
               }
               .fbox{
                    border: 1px solid $border_color;
                    width: 70%;
                    background-color: rgba(255,255,255,0.7);
                    padding: 2rem 3rem;
                    margin-bottom: 2rem;
                    h4{
                         background-color: #ffffff;
                         color: $blue;
                         font-size: 2.4rem;
                         border-bottom: 3px solid #bbcbee;
                         display: inline-block;
                    }
                    h4+p{
                         padding-top: 1.5rem;
                    }
               }
          }     
          .fbox:nth-of-type(2n) {
               margin-left: auto;
          }         
     }
     .contact{
          display: block;
          padding: 7rem 0;
          // margin: 0 auto;
          background: linear-gradient(45deg, rgba(245, 253, 255, 1) 0%, rgba(223, 237, 241, 1) 100%);
          .cinner{
               // display: block;
               width: 100rem;
               max-width: 100%;
               margin: 0 auto;
               @include mq ("md"){
                    width: 90%;
               }
               h3{
                    font-size: 2.4rem;
               }
               .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 3rem auto 10rem auto;
                    // padding: 1rem 9rem;
                    button{
                         margin: 3rem 0;
                         padding: 1rem 8rem;
                         text-decoration: none;
                         background-color: #ffffff;
                         color: $blue;
                         border: 1px solid $blue;
                         border-radius: 3rem;
                         width: 36rem;
                         font-size: 1.6rem;
                         cursor: pointer;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                    }     
                    button:hover{
                         background-color: #bbcdee;
                    }
                    
               }     
          }
 
     }  
}
footer{
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: $blue;
     height: 3.4rem;
     small{
          color: #ffffff;
          font-size: 1.4rem;
          padding: 1rem auto;
          text-align: center;
     }
}
.flogo{
     margin: 0 auto;
     width: 20%;
     img{
          max-width: 100%;
          width: 45rem;
     }
}